
.ui.container{
    margin: 5em;
}

.ui.green.segment{
    margin-top: 1em;
   
}

p{
    font-size: 100%;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    
}

.ui.center.aligned.header.step{
    margin-bottom: 1em;
}

.ui.divided.middle.aligned.list{
    margin-bottom: 1em;
}

.ui.header.h4margin{
    margin-bottom: 1em;
}

.ui.label{
    margin: 1em;
    color: green;
}
